<!--START TEMPLATE-->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title th:text="'Товар ' + ${product.name}"></title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<!--END TEMPLATE-->

<div class="card text-center">
    <div class="card-header">
        <h5 th:text="${product.name}"></h5>
        <!--        <h5 th:text="'Здравствуйте, ' + ${user.surname} + ' ' + ${user.name} + ' ' + ${user.middleName}"></h5>-->
    </div>
    <div class="card-body">
        <image class="card-title" th:src="${product.photoURL}" th:width="368" th:height="360"></image>
        <h6 class="card-subtitle mb-2 text-muted" th:text="Описание"></h6>
        <p class="card-text" th:text="${product.description}"></p>
        <h6 class="card-subtitle mb-2 text-muted" th:text="Стоимость"></h6>
        <p class="card-text" th:text="${product.price}"></p>
        <h6 class="card-subtitle mb-2 text-muted" th:text="Количество"></h6>
        <p class="card-text" th:text="${product.count}"></p>


        <!--        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>-->
        <!--        <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>-->
    </div>
    <div class="card-footer text-muted">
        <h5 th:text="Заказать"></h5>
        <form th:action="@{'/product/' + ${product.id}}" method="post" name="addToOrderForm">
            <div><label hidden class="form-label">Стоимость<input class="form-control" type="number" name="idProduct"
                                                                  th:value="${product.id}"/></label></div>
            <div><label hidden class="form-label">Стоимость<input class="form-control" type="number" name="price"
                                                                  th:value="${product.price}"/></label></div>

            <div><label hidden class="form-label">Количество<input class="form-control" type="number" name="count"
                                                                   th:value="1"/></label></div>
            <div><input type="submit" value="Добавить в заказ" class="btn btn-primary"/></div>
        </form>
    </div>

</body>
</html>